@import './settings.scss';
@import './themes.scss';

html {
  font-size: 62.5%; // 1rem = 10px

  &.theme-transition,
  &.theme-transition *,
  &.theme-transition *:before,
  &.theme-transition *:after {
    transition: all 750ms !important;
    transition-delay: 0 !important;
  }
}

html[data-theme='#{$darkTheme}'] body {
  background-color: $grey;
}
