@import './themes/default.scss';
@import './themes/dark.scss';

$defaultTheme: default;
$darkTheme: dark;

$themesList: ($defaultTheme $darkTheme);

$themes: (
  $defaultTheme: $default,
  $darkTheme: $dark,
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {
    html[data-theme='#{$theme}'] & {
      $theme-map: () !global;

      @each $key, $value in $map {
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }

      @content;

      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}
